<axl-app-crud (appcrudbtnclick)="eventHandler($event)"></axl-app-crud>
<div class="container">
    <form [formGroup]="CoreCompetencyForm" *ngIf="this.CoreCompetencyForm">
        <nb-card>
            <axl-app-loader *ngIf="showLoadingProgressBar$ | async"></axl-app-loader>
            <nb-card-header>
              Core Competency Form
            </nb-card-header>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <input formControlName="description" type="text" nbInput fullWidth placeholder="Description">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <nb-checkbox style="float: right;" status="basic" formControlName="is_active">Active</nb-checkbox>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
              <div style="padding-bottom: 5px;">
                <button (click)="openCompetencyDialog();" nbButton status="success"><nb-icon icon="search-outline"></nb-icon>Search Category</button>
              </div>
                <table>
                  <tr>
                    <th style="padding-right: 135px;">Action</th>
                    <th style="padding-right: 135px;">Competency Category ID</th>  
                    <th style="padding-right: 5px;">Description</th> 
                  </tr>
                <tr *ngFor="let lib_competency_category of libCompetencyCategoryFormArray.controls;let i = index;let last = last;" [formGroup]="lib_competency_category">
                  <td>
                    &nbsp;<button mat-raised-button style="background-color:#ff3d71; color:white;"><nb-icon icon="trash-outline"></nb-icon>Delete</button>
                  </td>
                  <td>
                    <mat-form-field style="width: 120px;" *ngIf="selectedCompetency == i">
                      <input formControlName="competencyId" matInput/>
                    </mat-form-field>
                    <span *ngIf="selectedCompetency != i">{{lib_competency_category.value.competencyId}}</span>
                  </td>
                  <td>
                    <mat-form-field style="width: 300px;" *ngIf="selectedCompetency == i">
                      <input formControlName="description" matInput/>
                    </mat-form-field>
                    <span *ngIf="selectedCompetency != i">{{lib_competency_category.value.description}}</span>
                  </td>
                </tr> 
                </table>
            </nb-card-body>
          </nb-card>
    </form>
</div>