<axl-app-list  (applistbtnclick)='eventHandler($event)'></axl-app-list>
<div class="container">
    <nb-card>
        <nb-card-header>
            Complaints Center
        </nb-card-header>
        <mat-tab-group>
            <mat-tab label="List">
                <axl-app-loader *ngIf="showLoadingProgressBar$ | async"></axl-app-loader>
                    <nb-card>
                        <nb-card-body>
                            <mat-form-field appearance="standard" style="float:right; width: 100%;">
                                <input matInput (keyup)="applyFilter($event)" placeholder="Search.." #input>
                                <mat-icon matSuffix>search</mat-icon>
                              </mat-form-field>

                            <table mat-table #table class="mat-elevation-z8" [dataSource]="gridDataSource" matSort>
                                <ng-container matColumnDef="complaintId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;"> Complaint ID </th>
                                    <td mat-cell *matCellDef="let erow" > {{erow.complaintId}} </td>
                                </ng-container>  

                                <ng-container matColumnDef="officeId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;"> Office ID </th>
                                    <td mat-cell *matCellDef="let erow" > {{erow.officeId}} </td>
                                </ng-container>

                                <ng-container matColumnDef="complaintName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;"> Complaint Name </th>
                                    <td mat-cell *matCellDef="let erow" > {{erow.complaintName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="typeOfComplaint">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;"> Type of Complaint </th>
                                    <td mat-cell *matCellDef="let erow" > {{erow.typeOfComplaint}} </td>
                                </ng-container>
                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUserRowSelect(row.complaintId)"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                        </nb-card-body>
                    </nb-card>
            </mat-tab>
        </mat-tab-group>
    </nb-card>
</div>