<nb-card>
    <nb-card-body>
      <mat-form-field appearance="standard" style="float:right; width: 100%;">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search.." #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      
      <table mat-table #table class="mat-elevation-z8" [dataSource]="gridDataSource" matSort>
        <ng-container matColumnDef="personId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;"> Person ID </th>
          <td mat-cell *matCellDef="let erow" > {{erow.personId}} </td>
        </ng-container>  

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;"> First Name </th>
          <td mat-cell *matCellDef="let erow" > {{erow.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="middleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;"> Middle Name </th>
          <td mat-cell *matCellDef="let erow" >{{erow.middleName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;"> Last Name </th>
          <td mat-cell *matCellDef="let erow">{{erow.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="extName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;"> Ext. Name </th>
          <td mat-cell *matCellDef="let erow">{{erow.extName}}</td>
        </ng-container>

        <ng-container matColumnDef="sex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 100px;"> Sex </th>
          <td mat-cell *matCellDef="let erow"> {{erow.sex}} </td>
        </ng-container>  

        <ng-container matColumnDef="birthDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 120px;"> Birth Date </th>
          <td mat-cell *matCellDef="let erow"> {{erow.birthDate | date:'yyyy-MM-dd'}} </td>
        </ng-container>  

        <ng-container matColumnDef="placeOfBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 200px;"> Place of Birth </th>
          <td mat-cell *matCellDef="let erow"> {{erow.placeOfBirth}} </td>
        </ng-container>  

          <ng-container matColumnDef="civil_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 120px;"> Civil Status </th>
          <td mat-cell *matCellDef="let erow"> {{erow.civil_status}} </td>
        </ng-container>  

        <ng-container matColumnDef="citizenship">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 120px;"> Citizenship </th>
          <td mat-cell *matCellDef="let erow"> {{erow.citizenship}} </td>
        </ng-container>  

        <ng-container matColumnDef="blood_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 120px;"> Blood Type </th>
          <td mat-cell *matCellDef="let erow"> {{erow.blood_type}} </td>
        </ng-container>  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUserRowSelect(row.personId)"></tr>
      </table>  
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </nb-card-body>
  </nb-card>